<form class="auth-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h2 class="form-title">Register</h2>
  <app-input-component id="name" label="Full Name" type="text" placeholder="Enter your full name"
    [control]="nameControl">
  </app-input-component>
  <app-input-component id="email" label="Email Address" type="email" placeholder="Enter your email"
    [control]="emailControl">
  </app-input-component>
  <app-input-component id="password" label="Password" type="password" placeholder="Create a password"
    [control]="passwordControl">
  </app-input-component>

  <div class="form-actions">
    <app-button-component type="submit" variant="primary">Create Account</app-button-component>
  </div>
</form>